In [5]:
import pandas as pd
import numpy as np

### Começar a fazer a análise exploratória

In [6]:
infos_interlagos = pd.read_csv('./Interlagos_infos.csv')
infos_interlagos

,raceId,driverId,grid,positionOrder,circuitId,name,date,forename,surname,stop,lap,duration
0,859,30,10,15,18,Brazilian Grand Prix,2011-11-27,Michael,Schumacher,1,10,25.481
1,859,811,9,17,18,Brazilian Grand Prix,2011-11-27,Bruno,Senna,1,12,21.900
2,859,808,15,10,18,Brazilian Grand Prix,2011-11-27,Vitaly,Petrov,1,13,21.169
3,859,16,8,6,18,Brazilian Grand Prix,2011-11-27,Adrian,Sutil,1,14,21.097
4,859,18,3,3,18,Brazilian Grand Prix,2011-11-27,Jenson,Button,1,15,22.005
...,...,...,...,...,...,...,...,...,...,...,...,...
558,1095,4,17,5,18,Brazilian Grand Prix,2022-11-13,Fernando,Alonso,3,52,23.790
559,1095,842,10,14,18,Brazilian Grand Prix,2022-11-13,Pierre,Gasly,3,52,23.009
560,1095,832,7,3,18,Brazilian Grand Prix,2022-11-13,Carlos,Sainz,3,53,23.816
561,1095,849,18,16,18,Brazilian Grand Prix,2022-11-13,Nicholas,Latifi,3,52,23.640
562,1095,852,0,17,18,Brazilian Grand Prix,2022-11-13,Yuki,Tsunoda,3,54,23.635

In [54]:
# duração média de pit stop dos pilotos em cada corrida (em Interlagos)
mediasPilotoCorrida = infos_interlagos.groupby(['driverId', 'raceId', 'forename', 'surname']).agg({'duration': [np.mean]}).reset_index()
mediasPilotoCorrida

    driverId raceId forename     surname   duration
                                               mean
0          1    859    Lewis    Hamilton  20.725333
1          1    879    Lewis    Hamilton  23.008000
2          1    899    Lewis    Hamilton  21.487667
3          1    917    Lewis    Hamilton  23.483000
4          1    944    Lewis    Hamilton  23.470667
..       ...    ...      ...         ...        ...
205      852   1095     Yuki     Tsunoda  23.522333
206      853   1071   Nikita     Mazepin  20.002667
207      854   1071     Mick  Schumacher  25.569200
208      854   1095     Mick  Schumacher  24.821500
209      855   1095   Guanyu        Zhou  24.721500

[210 rows x 5 columns]

In [50]:
# duração média de cada piloto no cirtuito de Interlagos
mediaGeralPilotos = mediasPilotoCorrida.groupby(['driverId', 'forename', 'surname']).agg({('duration', 'mean'): [np.mean, np.std, np.var]}).reset_index()
mediaGeralPilotos

   driverId  forename     surname   duration
                                        mean
                                        mean       std        var
0         1     Lewis    Hamilton  22.216967  1.380089   1.904644
1         3      Nico     Rosberg  23.242033  1.632704   2.665724
2         4  Fernando      Alonso  23.028442  2.720040   7.398617
3         5    Heikki  Kovalainen  23.601967  1.986786   3.947320
4         8      Kimi   Räikkönen  23.211464  2.267735   5.142623
..      ...       ...         ...        ...       ...        ...
58      849  Nicholas      Latifi  23.143708  3.444965  11.867786
59      852      Yuki     Tsunoda  23.893467  0.524862   0.275480
60      853    Nikita     Mazepin  20.002667       NaN        NaN
61      854      Mick  Schumacher  25.195350  0.528704   0.279528
62      855    Guanyu        Zhou  24.721500       NaN        NaN

[63 rows x 6 columns]

In [31]:
mediaGeralPilotos.isnull().sum()

driverId                 0
forename                 0
surname                  0
duration  mean  mean     0
                std     21
                var     21
dtype: int64

In [77]:
frequencia = mediasPilotoCorrida['driverId'].value_counts()

cont = 0

frequencia.value_counts()


## Com isso, percebemos que no DF mediasPilotoCorrida existem 21 pilotos com apenas 1 registro,
## o que faz o desvio padrão e a variancia desses registros serem NaN.

1     21
2     12
3      9
5      5
4      5
7      4
10     3
9      2
11     1
6      1
Name: driverId, dtype: int64