In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\usuario\anaconda3\lib\site-packages (2.9.6)

# Leitura dos arquivos csv

## [clique para acessar a fonte](https://www.kaggle.com/datasets/rohanrao/formula-1-world-championship-1950-2020)

In [3]:
circuits = pd.read_csv('./circuits.csv')
drivers = pd.read_csv('./drivers.csv')
driver_standings = pd.read_csv('./driver_standings.csv')
pit_stops = pd.read_csv('./pit_stops.csv')

In [4]:
circuits.sample(3)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
68,69,americas,Circuit of the Americas,Austin,USA,30.1328,-97.64110,161,http://en.wikipedia.org/wiki/Circuit_of_the_Am...
48,49,montjuic,Montjuïc,Barcelona,Spain,41.3664,2.15167,79,http://en.wikipedia.org/wiki/Montju%C3%AFc_cir...
24,25,galvez,Autódromo Juan y Oscar Gálvez,Buenos Aires,Argentina,-34.6943,-58.45930,8,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Os...

In [5]:
drivers.sample(3)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
644,644,mantovani,\N,\N,Sergio,Mantovani,1929-05-22,Italian,http://en.wikipedia.org/wiki/Sergio_Mantovani
618,618,mackay-fraser,\N,\N,Herbert,MacKay-Fraser,1927-06-23,American,http://en.wikipedia.org/wiki/Herbert_MacKay-Fr...
496,496,menditeguy,\N,\N,Carlos,Menditeguy,1914-08-10,Argentine,http://en.wikipedia.org/wiki/Carlos_Menditeguy

In [6]:
driver_standings.sample(3)

,driverStandingsId,raceId,driverId,points,position,positionText,wins
29787,65947,898,824,0.0,19,19,0
33327,70693,1071,842,92.0,9,9,0
274,275,31,9,64.0,3,3,1

In [7]:
pit_stops.sample(3)

      raceId  driverId  stop  lap      time duration  milliseconds
6443     996       832     1   26  17:00:15   25.423         25423
6498     998       817     2   30  15:00:29   28.001         28001
7175    1022       842     1   13  15:41:31   22.772         22772

## Mostrando as primeiras linhas

In [8]:
circuits = circuits.drop('url', axis=1)
drivers = drivers.drop('url', axis=1)

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/dbanalise')
# df_dimensoes.to_sql('nome_da_tabela_dimensoes', con=engine, if_exists='replace', index=False)
# df_medidas.to_sql('nome_da_tabela_fato', con=engine, if_exists='replace', index=False)

In [17]:
circuits.to_sql('dimensao_circuitos', con=engine, if_exists='replace', index=False)
drivers.to_sql('dimensao_pilotos', con=engine, if_exists='replace', index=False)
driver_standings.to_sql('fato_classificacao_pilotos', con=engine, if_exists='replace', index=False)
pit_stops.to_sql('fato_pit_stops', con=engine, if_exists='replace', index=False)

634

In [26]:
# consultas
import psycopg2

# conectando com o banco de dados (via docker) e criando um cursor para executar comandos SQl
conn = psycopg2.connect(dbname="dbanalise", user="root", password="root")
cur = conn.cursor()

# executando a query de exemplo
cur.execute("SELECT * FROM dimensao_circuitos")

# recuperando os dados da consulta do objeto cursor
rows = cur.fetchall()

# fechando cursor e a conexão com o banco
cur.close()
conn.close()

df_dimensao_circuitos = pd.DataFrame(rows, columns=['circuitId', 'circuitRef', 'name','location','country','lat','lng','alt'])
df_dimensao_circuitos.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130

#  *Queries docker*
### CREATE DATABASE dbanalise;