In [27]:
import pandas as pd
from sqlalchemy import create_engine
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\usuario\anaconda3\lib\site-packages (2.9.6)

# Leitura dos arquivos csv

## [clique para acessar a fonte](https://www.kaggle.com/datasets/rohanrao/formula-1-world-championship-1950-2020)

In [48]:
circuits = pd.read_csv('./circuits.csv')
drivers = pd.read_csv('./drivers.csv')
races = pd.read_csv('./races.csv')
driver_standings = pd.read_csv('./driver_standings.csv')
pit_stops = pd.read_csv('./pit_stops.csv')

In [62]:
circuits.sample(3)

,circuitId,circuitRef,name,location,country,lat,lng,alt
46,47,anderstorp,Scandinavian Raceway,Anderstorp,Sweden,57.2653,13.604200,153
31,32,rodriguez,Autódromo Hermanos Rodríguez,Mexico City,Mexico,19.4042,-99.090700,2227
37,38,brands_hatch,Brands Hatch,Kent,UK,51.3569,0.263056,145

In [50]:
drivers.sample(3)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
476,476,trips,\N,\N,Wolfgang,von Trips,1928-05-04,German,http://en.wikipedia.org/wiki/Wolfgang_Graf_Ber...
91,92,gachot,\N,\N,Bertrand,Gachot,1962-12-23,Belgian,http://en.wikipedia.org/wiki/Bertrand_Gachot
267,268,heyer,\N,\N,Hans,Heyer,1943-03-16,German,http://en.wikipedia.org/wiki/Hans_Heyer

In [83]:
drivers.dtypes

driverId        int64
driverRef      object
number         object
code           object
forename       object
surname        object
dob            object
nationality    object
dtype: object

In [51]:
races = races.drop('url', axis=1)
races = races.drop('fp1_date', axis=1)
races = races.drop('fp1_time', axis=1)
races = races.drop('fp2_date', axis=1)
races = races.drop('fp2_time', axis=1)
races = races.drop('fp3_date', axis=1)
races = races.drop('fp3_time', axis=1)
races = races.drop('quali_date', axis=1)
races = races.drop('quali_time', axis=1)
races = races.drop('sprint_date', axis=1)
races = races.drop('sprint_time', axis=1)
races.sample(3)

,raceId,year,round,circuitId,name,date,time
132,133,2002,10,9,British Grand Prix,2002-07-07,\N
956,969,2017,1,1,Australian Grand Prix,2017-03-26,05:00:00
511,512,1979,1,25,Argentine Grand Prix,1979-01-21,\N

In [52]:
races.sample(3)

,raceId,year,round,circuitId,name,date,time
672,673,1968,7,38,British Grand Prix,1968-07-20,\N
1002,1015,2019,6,6,Monaco Grand Prix,2019-05-26,13:10:00
500,501,1980,4,43,United States Grand Prix West,1980-03-30,\N

In [53]:
driver_standings.sample(3)

,driverStandingsId,raceId,driverId,points,position,positionText,wins
9215,19449,386,122,16.0,8,8,0
19185,53840,676,378,0.0,31,31,0
17966,53337,638,346,4.0,12,12,0

In [54]:
pit_stops.sample(3)

      raceId  driverId  stop  lap      time duration  milliseconds
2100     880       820     3   34  17:59:26   22.948         22948
7454    1031       844     2   51  16:15:24   21.972         21972
3698     916       825     1    1  14:05:26   26.881         26881

In [86]:
pit_stops.dtypes

raceId           int64
driverId         int64
stop             int64
lap              int64
time            object
duration        object
milliseconds     int64
dtype: object

## Mostrando as primeiras linhas

In [55]:
circuits = circuits.drop('url', axis=1)
drivers = drivers.drop('url', axis=1)

In [56]:
engine = create_engine('postgresql://root:root@localhost:5432/dbanalise')
# df_dimensoes.to_sql('nome_da_tabela_dimensoes', con=engine, if_exists='replace', index=False)
# df_medidas.to_sql('nome_da_tabela_fato', con=engine, if_exists='replace', index=False)

In [60]:
circuits.to_sql('dimensao_circuito', con=engine, if_exists='replace', index=False)
drivers.to_sql('dimensao_piloto', con=engine, if_exists='replace', index=False)
races.to_sql('corrida', con=engine, if_exists='replace', index=False)
driver_standings.to_sql('fato_classificacao_piloto', con=engine, if_exists='replace', index=False)
pit_stops.to_sql('fato_pit_stop', con=engine, if_exists='replace', index=False)

634

In [26]:
# consultas
import psycopg2

# conectando com o banco de dados (via docker) e criando um cursor para executar comandos SQl
conn = psycopg2.connect(dbname="dbanalise", user="root", password="root")
cur = conn.cursor()

# executando a query de exemplo
cur.execute("SELECT * FROM dimensao_circuito")

# recuperando os dados da consulta do objeto cursor
rows = cur.fetchall()

# fechando cursor e a conexão com o banco
cur.close()
conn.close()

df_dimensao_circuitos = pd.DataFrame(rows, columns=['circuitId', 'circuitRef', 'name','location','country','lat','lng','alt'])
df_dimensao_circuitos.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130

#  *Queries docker*
### CREATE DATABASE dbanalise;